.configuration-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 800px) {
        width: 50%;
    }
}

.configuration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.centered {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.small-spacer {
    padding: 5px;
}

.spacer {
    padding: 10px;
}

.title {
    width: 100%;
}
