<ion-header class="header-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="centered">SETTINGS</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <div class="content">
    <div class="configuration-container">
      <div class="configuration-input-container">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">DARK MODE</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-toggle [formControl]="darkModeFormControl"></ion-toggle>
            <div class="spacer"></div>
            <ion-text>Toggle this control to enable or disable dark mode for the application.</ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">NETWORTH CURRENCY</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="row">
              <ion-select
                mode="md"
                fill="outline"
                [formControl]="currencyFormControl"
              >
                <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
              </ion-select>
              <div class="spacer"></div>
              <ion-button color="primary" [disabled]="!canSaveCurrency()" (click)="saveDefaultCurrency()">
                SAVE
              </ion-button>
            </div>
            <div class="spacer"></div>
            <ion-text>Choose the overall currency your networth will be calculated in.</ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">API KEY</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-text>This allows you to retrieve stock and crypto data.</ion-text>
            <div class="small-spacer"></div>
            <ion-text>
              You're set up with a default key to begin. For unrestricted access, sign up for a premium key
              <a href="https://www.alphavantage.co/premium/" target="_blank">here</a>.
            </ion-text>
            <div class="spacer"></div>
            <div class="row">
              <ion-input
                helperText="Provide your API key here."
                mode="md"
                fill="outline"
                errorText="Required"
                placeholder="API KEY"
                [formControl]="apiKeyFormControl">
              </ion-input>
              <div class="spacer"></div>
              <ion-button color="primary" [disabled]="!canSaveApiKey()" (click)="saveApiKey()">
                SAVE
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
