.card-row {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: 600px) {
        justify-content: center;
    }
}

.centered {
    text-align: center;
}

ion-button {
    padding: 10px;
}
