<ion-header class="header-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="card-title">ADD AN ASSET</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <div class="segment-container">
    <ion-segment [value]="getStockAssetType()" (ionChange)="onAssetTypeChange($event)">
      <ion-segment-button [value]="getStockAssetType()">
        <ion-label>{{getStockAssetType()}}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="getCryptoAssetType()">
        <ion-label>{{getCryptoAssetType()}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">SYMBOL</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The asset symbol, used to retrieve its price history
      <ion-input
        placeholder="SYMBOL"
        helperText="Enter the asset symbol"
        [errorText]="symbolFormControl.errors?.['min'] ? 'Cannot be negative' : 'Required'"
        [formControl]="symbolFormControl"
      >
      </ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CURRENCY</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-select
        [formControl]="currencyFormControl"
      >
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">AVERAGE COST</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your current average cost <ion-text *ngIf="assetType === getCryptoAssetType()">(USD)</ion-text>
      <ion-input
        type="number"
        [min]="0"
        placeholder="AVERAGE COST"
        helperText="Enter your average cost"
        [errorText]="averageCostFormControl.errors?.['min'] ? 'Cannot be negative' : 'Required'"
        [formControl]="averageCostFormControl"
      >
      </ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="assetType === getStockAssetType()">
    <ion-card-header>
      <ion-card-subtitle color="primary">SHARES OWNED</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your amount of shares owned
      <ion-input
        type="number"
        [min]="0"
        placeholder="SHARES OWNED"
        helperText="Enter your shares"
        [errorText]="sharesFormControl.errors?.['min'] ? 'Cannot be negative' : 'Required'"
        [formControl]="sharesFormControl"
      >
      </ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="assetType === getCryptoAssetType()">
    <ion-card-header>
      <ion-card-subtitle color="primary">AMOUNT OWNED</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your amount owned
      <ion-input
        type="number"
        [min]="0"
        placeholder="AMOUNT OWNED"
        helperText="Enter your amount (i.e. 0.53 BTC)"
        [errorText]="sharesFormControl.errors?.['min'] ? 'Cannot be negative' : 'Required'"
        [formControl]="sharesFormControl"
      >
      </ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">BUDGET</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your maximum budget for purchasing more
      <ion-input
        type="number"
        [min]="0"
        placeholder="BUDGET"
        helperText="Enter your budget"
        [errorText]="budgetFormControl.errors?.['min'] ? 'Cannot be negative' : 'Required'"
        [formControl]="budgetFormControl"
      >
      </ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card-subtitle class="card-title" color="danger" *ngIf="assetAlreadyExistsError">
    <ion-text color="primary">{{symbolFormControl.value}}</ion-text> already exists in your profile
  </ion-card-subtitle>

  <div class="modal-buttons-container">
    <ion-button expand="block" color="secondary" [disabled]="!formGroup.valid || formGroup.pristine" (click)="create()">CONFIRM</ion-button>
    <ion-button expand="block" color="light" (click)="cancel()">CANCEL</ion-button>
  </div>
</ion-content>
