<ion-header class="header-padding">
  <ion-card class="networth-card" (click)="assetSelected({ symbol: 'NETWORTH' })">
      <ion-card-header>
        <div class="even-row">
          <div class="centered">
            <ion-text color="medium"><b>NETWORTH</b></ion-text>
            <div>
              <ion-text color="primary">{{formatMoneyValue(networthInformation.marketValue)}}</ion-text>
              &nbsp;
              <ion-text [color]="getNetworthChange() >= 0 ? 'success' : 'danger'">{{formatChangeValue(getNetworthChange())}}</ion-text>
            </div>
          </div>
        </div>
      </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <div class="list" *ngFor="let asset of assets">
    <ion-item-sliding>
      <ion-item class="item" (click)="assetSelected(asset)">
        <ion-label class="center-label">
          <div class="label-content">
            <ion-text color="primary"><h1><b>{{asset.symbol}}</b></h1></ion-text>
            <div class="spacer"></div>
            <div class="sections">
              <div class="content">
                <ion-text color="medium"><b>AVERAGE COST</b></ion-text>
                <ion-text color="primary">{{formatMoneyValue(asset.averageCost)}}</ion-text>
              </div>
              <div class="content">
                <ion-text color="medium"><b>MARKET VALUE</b></ion-text>
                <div>
                  <ion-text color="primary">{{formatMoneyValue(getAssetMarketValue(asset))}}</ion-text>
                  &nbsp;
                  <ion-text [color]="getNetworthChange() >= 0 ? 'success' : 'danger'">{{formatChangeValue(getAssetMarketValueChange(asset))}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="removeAsset(asset)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>

<ion-footer *ngIf="assets.length">
  <div class="button-container">
    <ion-button color="primary" expand="block" (click)="openAssetCreationModal()">ADD NEW ASSET</ion-button>
  </div>
</ion-footer>

<ng-template #noAssets>
  <div class="content">
    <ion-fab>
      <ion-fab-button (click)="openAssetCreationModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ng-template>
