.button-container {
    width: 100%;
    padding: 10px;
}

.centered {
    text-align: center;
}

.centered-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-title {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail {
    white-space: nowrap;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
